body {
  background-color: rgb(154, 194, 152);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#date{

text-align:c
}


h1, h2{
color: rgb(5, 38, 7);



}

